.nav {
  display: flex;
  gap: 30px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  margin: 5px 0;
  transition: 0.3s;
}

/* responzivita */
@media (max-width: 790px) {
  .hamburger {
    display: flex;
    z-index: 1001;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);

    /* schovani */
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: 0.5s ease;
  }

  .nav.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }

  .nav a {
    font-size: 25px;
  }

  .nav.active {
    right: 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -9px);
  }
}
